
    <ul class="navigator font-1">
     
        <li><a routerLink = "/"><img src ="./assets/logo.png" width = "50px"heigth = "50px"></a>
            
        </li>
    
      
    



        <li>
            <a routerLink = "/"><img src="./assets/education.png" width="30px" height="30px">  </a> 
        </li>
    
        <li>
        <a routerLink = "buyCourses" ><img  src="./assets/cartW.png" width="30px" height="30px"></a>
            <!--ul>
                <li *ngFor = " let course of Courses">
                    <div class="CoursesInCart">
                        <div class= 'DescriptionCart'>
                            <h4>{{course.title}}</h4>
                            {{course.type}}<br>
                            {{course.Modality}}
                            <br>
                            <p  class="deleteButon"> Eliminar  </p>
                        </div>
                        
                    </div>
                </li>
                <li><button routerLink = "buyCourses" >Comprar </button></li>
            </ul-->
        </li>


    
        <li>
        <a (click)="modalOpen()" *ngIf = "log == false else oklog"><img src = "./assets/user.png" width ="30px" height="30px"></a>
        <ng-template #oklog><div style="display:flex"> <a routerLink ="profile"><img class ="phUsr"src = "./assets/foto_2.jpg" width ="25px" height="25px"></a> <a (click)="logOut()" *ngIf="log == true" routerLink = "/"> <img src="./assets/exit.png"></a> </div></ng-template>
        
        </li>
        

        




</ul>

<app-cart [CoursestoBuy]="Courses" *ngIf="buyVar" (onClose)="modalClose($event)"></app-cart>

<router-outlet></router-outlet>


