
<div class="container font-2">
    <div class= "content">
        <div class="c1">        
        <h2>Mi carrito de Cursos</h2>
        <ul >
        <li *ngFor = "let course of Courses" class="items">
            <img src = "./assets/curso.png"width="120px" height="120px" >
            <div class="itemsSel">
                <h4>{{course.title}}</h4>
                {{course.type}}<br>
                {{course.Modality}}<br>
                $ {{course.Precio}}<br>
                <a (click) = "delete(course)" type="submit" class="Eliminar">
                    <img src="../../assets/del.png" width="30px" height="30px" >
                </a>
            </div>
        </li>
        <li>Total = $ {{total}}</li>  
    </ul>
    </div>
</div>
    <div class="OtherOp font-2">
        <!--button (click)="clean()">Vaciar Carrito</button-->
        <div class= "payment">
            <h2>Procedimiento de Pago</h2>
            <br>
            <select (change)="SelectPay()" [(ngModel)]= "payOpt">
                <option value="0">Selecciona una opción</option>
                <option  name = "payOpt" *ngFor = " let option of paymentOpt">{{option}}</option>
            </select>
            <br>
        </div>
        <div>  
            <form *ngIf="cards" class="cards" #f="ngForm" (ngSubmit)="onSubmit(f)"  >
                Pago por Tarjeta
                <input type="text" placeholder="Número de la tarjeta">
                <input type="text" placeholder="Nombres y Apellidos">
                <input type="text" placeholder="Fecha de expedición">
                <input type="text" placeholder="Código de Seguridad">
                <input type="text" placeholder="Documento">
                <button type = "submit">Confirmar Pago</button>

            </form>

            <form *ngIf="pse" class="cards" #f="ngForm" (ngSubmit)="onSubmit(f)" >
                Pago por PSE<br>
                <select (change)="SelectBank()" [(ngModel)]= "bankOpt" name = "selectBank">
                    <option value="0">Selecciona una opción</option>
                    <option  name = "bankOpt" *ngFor = " let bank of banksOpt">{{bank}}</option>
                </select>
                <br>
                <button type = "submit">Confirmar Pago</button>
            </form>
          
        </div>


            
       
        <div>
       
    </div>

    </div>
</div>